<!Doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/media/css/style.css" />
	{% block title %}
	<title>Bievenidos</title>
	{% endblock title %}
</head>
<body>
	<section id="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">SOBRE NOSOTROS</a></li>
					<li><a href="#">QUE HACEMOS</a></li>
					<li><a href="#">COMO LO HACEMOS</a></li>
					<li><a href="#">ALIADOS</a></li>
					<li><a href="#">CONTACTO</a></li>
					<li><a href="#">TRABAJE CON NOSOTROS</a></li>
					<li><a href=""><img src="/media/images/logo1.png" alt="Logo Apptitud"></a></li>
				</ul>
			</nav>
		</header>
		<section id="webs">
			{% block contenido %}

			{% endblock contenido %}
		</section>
	</section>
	<footer>
			APPTITUD
	</footer>
</body>
</html>